h2.md-inpage-anchor {
    border-left: 15px solid #909090;
    border-bottom: 1px solid #909090;
    padding-left: 10px;
}

h3.md-inpage-anchor {
    border-left: 10px solid #909090;
    padding-left: 5px;
    border-bottom: 1px solid #909090;
}

h4.md-inpage-anchor {
    border-bottom: 1px solid #909090;
    border-bottom: 1px solid #909090;
}

th {
    text-align: center;
}

strong {
    color: #428bca;
}